    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    .color-comm {
        background-color: #262626;
        color: #fff;
    }

    .navbar {
        padding-top: 50px;
        margin-bottom: 20px;
    }

    .navbar-brand {
        padding: 70px;
        background: url(/img/Vector\ Smart\ Object.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }

    .navbar-nav a {
        font-size: 33px;
        color: #e1b838;
        padding: 5px 20px;
    }

    .hover-comm:hover {
        background-color: #fcbe03;
        color: #262626;
    }

    .header {
        height: 590px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url(/img/Background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .img-comm {
        padding: 0 330px 0 0;
    }

    .img-left {
        background: url(/img/img-left.png);
    }

    .img-right {
        background: url(/img/img-right.png);
    }

    .text-midd1 {
        margin-top: 250px;
        height: 300px;
    }

    .texr-row-comm {
        margin: 0 80px;
        border: 5px solid #fcbe03;
    }

    .texr-row-comm :nth-child(1) {
        color: #262626;
        background-color: #fcbe03;
    }

    .texr-row-comm :nth-child(2) {
        padding: 5px 10px;
    }

    .text-midd1 p {
        margin-top: 70px;
        font-size: 29px;
        color: #c7c4c4;
    }

    /*----------------------section-1----------------------- */
    .section-1-main {
        /* height: 735px; */
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url(/img/Background.png);
        background-size: cover;
        color: #fff;
    }

    .space {
        padding: 30px;
    }

    .section-1-main h3 {
        font-size: 50px;
        text-shadow: 10px 10px 5px #000000;
        padding-top: 30px;
    }

    .menu-img-item {
        margin-top: 10px;
    }

    .menu-img {
        height: 230px;
        width: 230px;
    }

    .menu-img1 {
        background: url(/img/img1.png);
        background-size: cover;
    }

    .menu-img2 {
        background: url(/img/img2.png);
        background-size: cover;
    }

    .menu-img3 {
        background: url(/img/img3.png);
        background-size: cover;
    }

    .menu-text {
        border: 5px solid #fcbe03;
        margin-bottom: 50px;
    }

    .menu-text h4 {
        background-color: #fcbe03;
        color: #262626;
        padding: 10px 18px;
    }

    .menu-list {
        padding: 0 10px;
        width: 250px;
    }

    /*----------------------section-2 --------------------------- */
    .section-2-main {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url(/img/Background.png);
        background-size: cover;
    }

    .plate-img {
        height: 730px;
        width: 680px;
        background: url(/img/section-2-img.png);
        background-size: cover;
    }

    .discount-text {
        padding-right: 50px;
    }

    .discount-text :nth-child(1) {
        margin-top: 100px;
        font-size: 60px;
        color: #fcbe03;
    }

    .discount-text button {
        background-color: #fcbe03;
        padding: 0 20px;
    }

    .logo-2 {
        height: 130px;
        margin: 90px 0 20px 305px;
    }

    .logo-comm {
        background: url(/img/Vector\ Smart\ Object.png);
        background-size: contain;
        background-repeat: no-repeat;
    }


    .discount-text :nth-child(4) {
        color: #fcbe03;
        text-shadow: 10px 10px 5px #000000;
    }

    /* -------------------section-3---------------------- */
    .section-3-text {
        height: 650px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url(/img/Background.png);
        background-size: cover;
    }

    .text-forbox {
        padding-top: 100px;
    }

    .text-forbox h2 {
        padding: 0 20px;
        font-size: 30px;
    }

    .text-lorem h6 {
        width: 500px;
        font-size: 20px;
    }

    .img1-section-3 {
        height: 660px;
        width: 680px;
        background: url(/img/img3.png);
        background-size: cover;
        top: 100px;
    }

    .img2-section-3 {
        height: 480px;
        width: 350px;
        background: url(/img/sides.png);
        background-size: cover;
        top: 150px;
        right: 320px;
    }

    .img3-section-3 {
        height: 230px;
        width: 230px;
        background: url(/img/sides2.png);
        background-size: cover;
        right: 200px;
    }


    /* -------------------section-4---------------------- */
    .section-4 {
        margin-top: 150px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url(/img/Background.png);
        background-size: cover;
    }

    .img-section-4 {
        padding-top: 130px;
        gap: 250px;
    }

    .img-sec-4 {
        margin-left: -20px;
        height: 600px;
        width: 550px;
        background: url(/img/section-4-img.png);
        background-size: cover;
    }

    .text-comm-sec-4 {
        padding-left: 15px;
    }

    /* -------------------section-5---------------------- */
    .text-box-sect-5 {
        padding-top: 50px;
    }

    .text-box-sect-5 h2 {
        padding: 0 50px;
    }

    .text1-lorem h6 {
        font-size: 30px;
        padding-top: 50px;
    }

    .img-section-5 {
        height: 435px;
        background: url(/img/section-5-img.png);
        background-size: contain;
        background-size: cover;
        background-position: center;
    }

    /* -------------------footer---------------------- */

    footer {
        margin-top: 100px;
    }

    .logo-footer {
        height: 130px;
        width: 200px;
    }

    .footer-list {
        width: 25%;
        line-height: 50px;
        font-size: 25px;
    }

    .footer-list ul li a {
        color: #fff;
    }

    .text-box-footer {
        gap: 70px;
    }

    .footer-box {
        margin: 0;
    }

    .text-box-footer {
        width: 100%;
    }

    .icon-footer {
        width: 100%;
        margin-bottom: 100px;
    }

    .icon-f ul li a {
        font-size: 20px;
        padding: 10px;
        background-color: #fcbe03;
        color: #262626;
    }